{% extends 'base.html' %}

{% block style %}
    {% load static %}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">BLH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_room_view' %}">Create encrypted room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_rooms_view' %}">List your rooms</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2>Create Room</h2>
    <form id="create-room-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="room-name">Room Name</label>
            <input type="text" id="room-name" class="form-control" placeholder="Enter room name" required>
        </div>
        <div class="form-group">
            <label for="room-description">Room Description</label>
            <textarea id="room-description" class="form-control" placeholder="Enter room description" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Room</button>
    </form>
    <p id="status-message" style="display: none;"></p>
</div>

<script src="{% static 'files/js/importPublicKey.js' %}"></script>
<script src="{% static 'files/js/functions.js' %}"></script>
<script src="{% static 'files/js/createRoom.js' %}"></script>
{% endblock %}
