<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    {% load static %}
    <!-- Подключение CryptoJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <!-- Подключение пользовательского скрипта -->
    <script src="{% static 'files/js/scripts.js' %}" defer></script>
</head>
<body>
    <h1>Upload and Encrypt a File</h1>

    <!-- File Upload Form -->
    <form id="uploadForm">
        {% csrf_token %}
        <input type="hidden" id="csrfToken" value="{{ csrf_token }}">

        <!-- File selection field -->
        <label for="file">Select file to upload:</label>
        <input type="file" id="file" name="file" required>

        <button type="button" id="uploadButton">Encrypt and Upload</button>
    </form>
</body>
</html>
